

.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

/* nav styes */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}

.btn-primary{
    color: #006A50;
    font-weight: 0px 52px;
    padding: 30px 15px;
    border-radius: 5px;
    border: none;
    layout-grid: 10px;
    color: #FF0000;
}
.nav-title{
    font-weight: bold;
    font-size: 32;
}


/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px 200px 50px;
    display: flex;
    border-radius: 10px;
    background-color: #C6E4D6;
}

.banner-content{
    margin-left: 80px;
}

.banner-title{
    color: #0e0e0e85;
    font-size: 20px;
}
.banner-tropics{
    color: #0E0E0E;
    font-size: 50px;
    max-width: 600px;
    
}
.ex-bd{
    background-color: #006A50;
    
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 5px;
}
.secondary-bg{
    background-color: #F1F1F3;
    border-radius: 15px;
    padding: 50px 120px;
    margin: auto;
    /* text-align: center; */
}
section-pillars{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    
}

.section-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
    gap: 30px;
}
/* Pillars sectipon styles */

.vission-container{
    display: flex;
    justify-content: space-around;
    
    
    

}
.pillars-descript{
    padding: 30px;
    
    box-shadow: 0px 6px 50px 0px black;
}
/* main styles */
.main{
    max-width: 500px;
    margin: 0 auto;
}